<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Veribly</title>
    <link rel="icon" href="#" />
    <link rel="stylesheet" href="/css/root.css" />
  </head>

  <body class="min-h-screen">
    <%- include('../partials/header') %> <% if (successMsg) { %>

    <div class="flash flash-success"><%= successMsg %></div>
    <% } %> <% if (errorMsg) { %>
    <div class="flash flash-error"><%= errorMsg %></div>
    <%} %>

    <main class="mx-auto w-full"><%- body %></main>

    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="/js/particles-init.js"></script>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
